@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*ATENÇÃO*/

/*PARA SE FAZER A CENTRALIZAÇÃO DE ALGUM ITEM EXATAMENTE NO 
CENTRO, É PRECISO DIZER À DIV PAI QUE ELA SERÁ DISPLAY: FLEX,
A PARTIR DISTO, É SÓ VOCÊ ATRIBUIR AO OBJETO QUE QUER 
CENTRALIZAR MARGIN: AUTO*/


*{
	margin: 0px;
	padding: 0px;
	font-family: 'Inter', sans-serif;
	color: white;
}
body{
	background-color: black;
}

#cabecalho{
	text-align: center;
}

#cabecalho > img{
	position: absolute;
	transform: translateX(-50%) translateY(60%);
}

section{
	background-color: white;
	width: 174vh;
	overflow: hidden;
	height: 100vh;
	display: flex;
}

.preto{
	background-color: black;
}

.cinza{
	background-color: #222634;
}



/*PRIMEIRA PÁGINA*/
div#box{
	width: 1400px;
	height: 550px;
	background: url('../imagens/pessoas.png') no-repeat;
	margin: auto;
	background-position-x: 90%;
}

div#texto-imagem{
	width: 644px;
	height: 135px;
	background: url('../imagens/textoImagem.png');
}

.conteudo{
	text-align: center;
	width: 644px;
	margin-left: 25px;
	margin-top: 80px;
}

.conteudo > p{
	font-size: 19pt;
	font-weight: bold;
	margin-bottom: 20px;
	width: 600px;
}
.conteudo > h4{
	color: #969696;
	font-size: 10pt;
	font-weight: normal;
	margin-top: 30px;
}

a.btn-1{
	padding: 20px;
	padding-left: 140px;
	padding-right: 140px;
	border-radius: 10px;
	text-decoration: none;
	background-color: #009748;
	transition: background-color 0.4s;
}

a.btn-1:hover{
	background-color: #00823e;
}

a.btn-2{
	padding: 20px;
	padding-left: 150px;
	padding-right: 150px;
	border-radius: 10px;
	text-decoration: none;
	background-color: transparent;
	border: 1px solid white;
	transition: background-color 0.4s;
}

a.btn-2:hover{
	background-color: rgba(71, 71, 71, 0.2);
}


/*SEGUNDA PÁGINA*/

#box2{
	width: 1200px;
	height: 411px;
	margin: auto;
	background: url('../imagens/note1.png') no-repeat;
}

.textos{
	position: relative;
	width: 600px;
	float: right;
	top: 145px;
	left: 50px;
}

.textos > h2{
	font-size: 30pt;
}


.textos > p{
	color: #969696;
	font-size: 12pt;
}


/*TERCEIRA PÁGINA*/

#box3{
	width: 1200px;
	margin: auto;
}

#box3 > img{
	float: right;
}

#box3 > span{
	float: left;
	text-align: center;
	width: 600px;
	margin-top: 50px;
	font-size: 11pt;
}
span > p{
	color: #969696;
	line-height: 22px;
}

a.btn-3{
	padding: 15px;
	padding-right: 190px;
	padding-left: 190px;
}



/*QUARTA PÁGINA*/
#box4{
	width: 1200px;
	height: 370px;
	margin: auto;
	background: url('../imagens/note2.png') no-repeat;
}

#box4 > .textos{
	position: relative;
	width: 600px;
	float: right;
	top: 145px;
	left: -10px;
}

/*QUINTA PÁGINA*/

ul#lista-itens{
	list-style: none;
	margin-top: 20px;
}

ul#lista-itens > li{
	display: inline-block;
	margin: 20px;
}

#box5{
	width: 1200px;
	text-align: center;
	margin: auto;
}

#box5 > h1{
	font-size: 35pt;
	font-weight: bolder;
}

figure > figcaption{
	font-size: 20pt;
	font-weight: bolder;
}

/*SEXTA PÁGINA*/

#box6{
	margin: 0 auto;
	width: 700px;
}

form#formulario{
	position: relative;
	margin: 0 auto;
	top: 50px;
	text-align: center;
}

form#formulario > h2{
	font-size: 25pt;
} 

.texto-input{
	width: 400px;
	margin-top: 20px;
	background-color: transparent;
	border: 1px solid white;
	text-align: center;
	padding: 15px;
	border-radius: 15px;
}

.area-dig{
	width: 400px;
	height: 150px;
	margin-top: 20px;
	background-color: transparent;
	border: 1px solid white;
	text-align: center;
	padding: 15px;
	border-radius: 15px;
}

.btn-submit{
	width: 430px;
	margin-top: 20px;
	padding: 15px;
	border-radius: 10px;
	border: none;
	background-color: #009748;
	transition: background-color 0.4s;
}


.btn-submit:hover{
	cursor: pointer;
	background-color: #00823e;
}


/*RODAPÉ*/
footer#rodape{
	clear: both;
	
}

#box7{
	position: relative;
	top: 150px;
	margin: 0 auto;
	text-align: center;
	width: 1300px;
}
#box7 > img{
	margin-bottom: 40px;
}


#box7 > a{
	margin-left: 13px;
	text-decoration: none;
}

#box7 > a:hover{
	text-decoration: underline;
}

#box7 > span{
	margin: 50px;
	color: #969696;
}


div#organizacao{
	margin: auto;
	height: 900px;
}






